.account {
    display: flex;
    align-items: center;
    width: calc(0.8 * 100% / 0.85);
    padding-left: 10px;
    padding-right: 10px;
    column-gap: 10px;
    background-color: var(--blue-lighter);
    border-radius: 20px;
    font-size: 12px;
}

.account > p {
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.border {
    width: 3px;
    height: 100%;
    background-color: var(--blue-darker);
    margin-right: -4px;
}

.delete {
    position: relative;
    width: 24px;
    height: 24px;
}

.delete:hover {
    cursor: pointer;
}