.App {
  display: flex;
  position: relative;
  text-align: center;
  background-color: var(--bg);
  font-family: 'Roboto', sans-serif; 
  height: 100%;
}

.container {
  height: 100%;
  width: 100%;
}