.Clock {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-lighter);
    color: var(--white);
    border-bottom: 3px solid var(--blue-darker);
    padding: 5px;
}
.day {
    font-size: 25px;
}
.time {
    font-size: 16px;
}