.navPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    min-width: 35px;
    height: 100%;
    background-color: var(--bg-lighter);
    border-left: 3px solid var(--blue-darker);
}

.navPanel > img {
    position: relative;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.navPanel > img:hover {
    filter: brightness(0) invert(1);
}

.settings {
    transition: transform 0.5s ease-in-out;
}

.settings:hover {
    transform: rotate(45deg);
}

.notification:hover {
    animation: shake 0.8s ease both;
}

@keyframes shake {
    10%, 90% {
        transform: translateX(-1px);
    }

    20%, 80% {
        transform: translateX(2px);
    }

    30%, 50%, 70% {
        transform: translateX(-2.5px);
    }

    40%, 60% {
        transform: translateX(2.5px);
    }
}